*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

*::-webkit-scrollbar{
    width: 10px;
 }
 
 *::-webkit-scrollbar-track{
    background-color: transparent;
 }
 
 *::-webkit-scrollbar-thumb{
    background-color: #4b4d4e69;
 }

.header{
    min-height: 100vh;
    width: 100%;
    background-color: #fff;
    background-position: center;
    background-size: cover;
    position: relative;
    margin-top: -20px;
}   
nav{
    display: flex;
    padding: 2% 3%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 200px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 20px;
}
.nav-links ul li a img{
    height: 30px;
    width: 30px;
    fill: white;
    margin-left: 5px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #cd4137;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
nav .fa{
    display: none;
}


/* catalog */

.categories{
    width: 90%;
    margin: auto;
    padding-top: 50px;
}
.categories h1{
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    /* background-color: #ffd89f; */
    color: rgba(0,0,0,0.9);
    /* margin-left: -50px;
    margin-right: -50px; */
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.548);
    /* width: auto; */
    border-radius: 100px;
}
.categories .row{
    float:left;
	padding: 20px 5px;
	text-align: center;
    box-sizing: border-box;
}
.category-col{
    flex-basis: 28%;
    height: 400px;
    margin-top: 80px;
    border-radius: 60px; 
    margin-bottom: 30px;
    position: relative;
    overflow: hidden; 
    margin-left: 50px;
    box-shadow: 0 0 10px 0 black;
}
.category-col img{
    width: 75%;
    margin-bottom: 25px;
    margin-top: 25px;
}
.layer{
    background:transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 60px;
    transition: 0.5s;
}
.layer h3{
    text-align: center;
    width: 100%;
    color: #000;
    font-weight: 600;
    font-size: 20px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 1;
    transition: 0.5s; 
    width: fit-content;
}
.layer:hover{
    /* background-color: rgba(255, 233, 188, 0.671); */
    width: 100%;
    border-radius: 40px;
    box-shadow: 0 0 30px 0 rgb(248, 197, 139);
    background-color: #cd41372c;
}
.layer:hover h3{
    bottom: 2%;
    opacity: 1;
    font-size: 32px;
}



/* ABOUT */

.about{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;

}
.about h1{
    font-size: 40px;
    font-weight: 600;

}
p{
    color:rgb(0, 0, 0);
    font-size : 20px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    margin-left: -1%;
    justify-content: space-between;
}

.icons{
    flex-basis: 15%;
    background: rgb(255, 233, 188);
    border-radius: 50px;
    margin-bottom: 5%;
    padding: 8px 10px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    font-size: 25px;
}
.icons:hover{
    box-shadow: 0 0 20px 0 black;
}

.icons a{
    text-decoration: none;
    color: #cd4137;
}
.icons ion-icon{
    font-size: 30px;
    padding-left: 16px;
    padding-top: 5px;
    transition: 1s;
}
.icons ion-icon:hover{
    color: rgb(84, 0, 0);
    border:#000000;
}

.about-app{
    text-align: center;
    width: 100%;
    margin: auto;
    border-radius: 15px;
    margin-bottom: 5%;
    padding: 35px 25px;
}


.bubbles img{
    width: 150px;
    animation: bubble 7s linear infinite;
}
.bubbles{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    margin-top: 120%;
}

@keyframes bubble{
    
    0%{
        transform: translateY(0);
        opacity: 0.1;
    }
    50%{
      
        opacity: 0.2;
    }
    70%{
        
        opacity: 0.2;
    }
    100%{
        transform: translateY(-250vh);
        opacity: 0;
    }
}

.bubbles img:nth-child(1){
    animation-delay: 2s;
    width: 120px;
}
.bubbles img:nth-child(2){
    animation-delay: 4.5s;
}
.bubbles img:nth-child(3){
    animation-delay: 3s;
    width: 110px;
}
.bubbles img:nth-child(4){
    animation-delay: 4.5s;
}
.bubbles img:nth-child(5){
    animation-delay: 6s;
    width: 120px;
}
.bubbles img:nth-child(6){
    animation-delay: 2.4s;
}
.bubbles img:nth-child(7){
    animation-delay: 5.5s;
    width: 120px;
}
.bubbles img:nth-child(8){
    animation-delay: 3.9s;
}
.bubbles img:nth-child(9){
    animation-delay: 6.3s;
    width: 110px;
}




@media(max-width: 700px){


    *{
        margin: 0;
        padding: 0;
        font-family: 'Ubuntu', sans-serif;
    }

    .header{
        min-height: 100vh;
        width: 100%; 
        background: #fff;
        position: relative;
        margin-top: -10px;
    }
    .header img{
        margin-left: -5px;
        width: 70px;
    }

    nav{
        display: flex;
        padding: 2% 3%;
    }

    .nav-links{
        position: absolute;
        background: #cd4137;
        height: 100vh;
        width: 240px;
        top: 0;
        right: -250px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
  
    nav .fa{
        display: block; 
        color: rgb(0, 0, 0);
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
  
    .nav-links ul li{
        display: block;
    }

    .nav-links ul{
        padding: 28px;
    }



    .categories{
        width: 90%;
        margin: auto;
        padding-top: 50px;
    }
    .categories h1{
        font-size: 40px;
        font-weight: 600;
        text-align: center;
        margin-left: -5%;
        color: rgba(0,0,0,0.9);
        /* margin-left: -50px;
        margin-right: -50px; */
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.548);
        border-radius: 100px;
    }
    .categories .row{
        float:left;
        padding: 10px 5px;
        text-align: center;
        box-sizing: border-box;
    }
    .category-col{
        /* flex-basis: 20%; */
        width: 70%;
        height: 70%;
        margin-top: 80px;
        border-radius: 60px; 
        margin-bottom: 30px;
        position: relative;
        overflow: hidden; 
        margin-left: 15%;
        box-shadow: 0 0 10px 0 black;
    }
    .category-col img{
        width: 75%;
        margin-bottom: 25px;
        margin-top: 25px;
    }



    .bubbles img{
        width: 150px;
        animation: bubble 7s linear infinite;
    }
    .bubbles{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: absolute;
        margin-top: 700%;
        display: none;
    }



    .about h1{
        font-size: 28px;
    }
    .row{
        flex-direction: column;
        display: flex;
        justify-content: space-between;
    }
   
    .icons{
        flex-basis: 15%;
        margin-left: 15%;
        width: 300px;
        background: rgb(255, 233, 188);
        border-radius: 50px;
        margin-bottom: 5%;
        padding: 2px 6px;
        box-sizing: content-box;
        transition: 0.5s;
    }

    h3{
        text-align: center;
        font-weight: 600;
        margin: 8px 0;
        font-size: 20px;
    }

    p{
        font-size: 15px;
    }

    .about-app{
        text-align: center;
        width: 80%;
        margin: auto;
        border-radius: 10px;
        margin-bottom: 5%;
      
    }
}
